<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Document</title>
</head>
<body id='box'>
<a id="button" href=https://api.intra.42.fr/oauth/authorize?client_id=ca8ebc5cbee6e3047bf84a8dfd51f69d9732484f4f5a91794af7c01bb31ea857&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Flogin&response_type=code>42Oauth 로그인</a>
    <h2>JIHUN URI Shortner</h2>
        <input type="text" placeholder="URl를 입력하세요" id="input">
        <button onclick="reqList();" class="button">General</button>
    <div id="scroll"></div>
</body>
<script src="js/main.js"></script>
</html>