<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <script src="../general/jquery.js"></script>
</head>
<body>
    <div id="body">
        <p th:text="${name}"></p>
        <img th:src="${image}" id="img"/>
        <table>
            <tr>
                <th>Name</th>
                <th>Hash</th>
                <th>Origin</th>
            </tr>
            <tr th:each="url : ${urls}">
                <td th:text="${url.name}"></td>
                <td th:text="${url.hashvalue}"></td>
                <td th:text="${url.originurl}"></td>
            </tr>
        </table>
    </div>
</body>
<script src="../general/main.js"></script>
</html>