#body {
    display: flex;
    flex-direction: row;
    width : 900px;
    margin: 0 auto;
    background: #ddd;
    position: relative;
    color: black;
    text-align: center;
}

#table {
    width: 100%;
    text-align: center;
}

#semi {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
}

#encoding {
    display: block;
    width: 255px;
}

#origin {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 420px;
}

#img {
    border-radius: 70%;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#named {
    margin-top: 20px;
}

#url {
    margin-top: 20px;
}